// -------------------------------------------------------------Variables 
$font_family: 'Source Sans Pro',
sans-serif;
$light_color:rgb(255, 255, 255);
$tablet:768px;
$laptop:1024px;

// ------------------------------------------------------------- MIXIN and FUNCTIONS  
@mixin flex_box_model($direction, $justify_content, $align_items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin font_weight_bold($value) {
    font-weight: $value;
}

@mixin text_transform($value) {
    text-transform: $value;
}

@mixin font_Size($value) {
    font-size:#{$value}em;
}

@function darkness($color_to_dark) {
    $dark: darken($color_to_dark, 10%);
    @return $dark;
}

@mixin tablet_Responsive() {
    @media (min-width:#{$tablet}) {
        @content;
    }
}

@mixin laptop_Responsive() {
    @media (min-width:#{$laptop}) {
        @content;
    }
}

// ------------------------------------------------------------------- C O D E ------------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
}

body {
    font-family: $font_family;

    section.container_section {

        @include laptop_Responsive() {
            @include flex_box_model(row, center, center);
        }

        // XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  B L A C K  _ _ _  S E C T I O N  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

        & .black_section {
            background-color: rgb(37, 37, 39);
            width: 100%;
            position: relative;

            @include laptop_Responsive() {
                height: 100vh;
                @include flex_box_model(column, space-between, unset);
            }

            & header {

                nav {
                    padding: .5vh 2vw 3vh;

                    a {
                        h1 {
                            color: $light_color;
                            @include font_Size(2);
                            font-weight: 200;

                            @include laptop_Responsive() {
                                @include font_Size(3)
                            }

                            span.phantom_registered {

                                @include font_Size(.75);
                                vertical-align: text-top;
                            }
                        }

                    }

                }
            }

            /* Header end */

            .content_section {
                display: flex;
                @include flex_box_model(column, flex-start, unset);
                padding-bottom: 5vh;

                // RESPONSIVE
                @include tablet_Responsive() {
                    @include flex_box_model(row, center, stretch);
                    flex-wrap: wrap;
                    min-height: 45vh;
                }

                // End of RESPONSIVE

                & .home {
                    @include flex_box_model(row, space-around, center);
                    padding: 2vh 0;
                    flex-wrap: wrap;

                    @include tablet_Responsive() {
                        width: 100%;
                    }

                    @include laptop_Responsive() {
                        width: auto;
                        flex-grow: 1;
                        @include flex_box_model(column, space-evenly, unset);
                    }

                    h1 {
                        color: rgb(255, 255, 255);
                        @include font_Size(1.8);
                        @include font_weight_bold(200);
                        width: 40%;
                        text-align: center;

                        @include laptop_Responsive() {
                            @include font_Size(1.5);
                            @include font_weight_bold(400);
                            width: auto;
                        }
                    }

                    h1.home_strong {
                        @include font_weight_bold(400);
                        text-decoration: underline;

                        @include laptop_Responsive() {
                            @include font_Size(2.6);
                            @include font_weight_bold(900);
                        }
                    }
                }

                /* Div home end */

                & .about {
                    @include flex_box_model(column, center, center);
                    padding-bottom: 1vh;

                    @include tablet_Responsive() {
                        width: 40%;
                    }

                    @include laptop_Responsive() {
                        width: auto;
                        flex-grow: 1;
                    }

                    h1 {
                        color: $light_color;
                        @include text_transform(capitalize);
                        @include font_Size(1.8);
                        margin: 2vh auto 1vh;
                        width: 60%;

                        @include laptop_Responsive() {
                            width: auto;
                            @include font_Size(2.5);
                            margin: 0;
                        }
                    }

                    ul {
                        width: 50%;

                        @include laptop_Responsive() {
                            width: auto;
                            @include flex_box_model(column, space-between, flex-start);
                        }

                        li {
                            list-style-type: none;
                            @include font_Size(1.2);

                            @include laptop_Responsive() {
                                padding: .6vh 0;
                                @include font_Size(1.5);
                            }

                            a {
                                color: $light_color;
                            }
                        }
                    }
                }

                // /* Div about end */

                & .services {
                    @include flex_box_model(column, center, center);
                    padding-bottom: 1vh;

                    @include tablet_Responsive() {
                        width: 40%;
                    }

                    @include laptop_Responsive() {
                        width: auto;
                        flex-grow: 1;
                    }

                    h1 {
                        color: $light_color;
                        @include text_transform(capitalize);
                        @include font_Size(1.8);
                        margin: 2vh auto 1vh;
                        width: 60%;

                        @include laptop_Responsive() {
                            @include font_Size(2.5);
                            width: auto;
                            margin: 0;
                        }
                    }

                    ul {
                        width: 50%;

                        li {
                            list-style-type: none;
                            @include font_Size(1.2);

                            @include laptop_Responsive() {
                                padding: .6vh 0;
                                @include font_Size(1.5);
                            }

                            a {
                                color: $light_color;
                            }
                        }
                    }

                }

                // Services Div end
            }

            // Content section end

            footer {
                h1 {
                    display: none;

                    @include laptop_Responsive() {
                        display: block;
                        color: darken($light_color, 60%);
                        @include text_transform(capitalize);
                        position: absolute;
                        bottom: 0;
                        left: 1vw;
                        @include font_weight_bold(400);
                        @include font_Size(1.5);
                    }
                }
            }
        }

        // XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Y E L L O W _ _ _ S E C T I O N  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

        & .yellow_section {
            background-color: #ffd000;
            @include flex_box_model(row, space-around, center);
            flex-wrap: wrap;
            padding: 1vh 2vw;
            width: 100%;

            @include tablet_Responsive() {
                min-height: 45vh;
            }

            @include laptop_Responsive() {
                height: 100vh;
            }

            h1 {
                @include font_Size(1.25);
                @include font_weight_bold(600);

                text-align: center;
                margin: 1.5vh auto 3vh;

                @include tablet_Responsive() {
                    @include font_Size(2.5);
                }

                @include laptop_Responsive() {
                    @include font_weight_bold(700);
                }
            }

            p {
                padding: .5em 1em;
                margin-bottom: 2vh;
                @include font_Size(1.1);
                @include font_weight_bold(400);


                @include tablet_Responsive() {
                    @include font_Size(1.2)
                }

                @include laptop_Responsive() {
                    @include font_Size(1.5);
                    margin: 0;
                }

                a {
                    color: #4e16e7;
                    transition: all .5s linear;
                    background-clip: content-box;

                    @include laptop_Responsive() {
                        color: darken($light_color, 40%)
                    }

                    &:hover {
                        @include laptop_Responsive() {
                            color: darken($light_color, 60%);
                            display: inline-block;
                            transform: scale(1.05);
                            padding: 0 1vw;
                            background-clip: content-box;
                        }

                    }
                }

            }

            .align_button {
                @include flex_box_model(row, flex-end, center);
                width: 90%;

                button {
                    min-width: 40vw;
                    padding: 1.5vh 2vw;
                    @include font_Size(1.1);
                    border-radius: 20vw;
                    background: transparent;
                    border: 1px solid rgb(68, 67, 67);
                    transition: transform .5s, color 1s;

                    @include tablet_Responsive() {
                        @include font_Size(1.5);
                        min-width: 30vw;
                        padding: .5em 1em;
                    }

                    @include laptop_Responsive() {
                        @include font_Size(1.5);
                        min-width: 25vw;
                    }

                    &:hover {
                        @include laptop_Responsive() {
                            transform: translateX(2vw);
                            color: lighten($light_color, 10%);
                        }
                    }
                }
            }

        }

    }

}
